<div class="container-fluid">

  <div class="row mt-3">

    <div class="col-12 d-flex">


      <img src="../,,/../../../assets/img/logoBlanco.png" class="mx-auto" alt="">

    </div>



  </div>

  <div class="row">

    <div class="col-12">

      <div class="h5 text-center text-danger">

        Una vez que ingreses al regisgro de contactos. Deberas cargar SOLAMENTE la direcciones de los vecisnos que no
        pudimos contactar
      </div>

      <div class="card_login mt-4">
        <div class="card">
          <div class="card-body text-center">
            <form action="" #formLogin="ngForm" (submit)="userChequed()">
              <div class="form-group">
                <input type="text" id="name" name="name" class="form-control" placeholder="Ingresa tu Nombre"
                  [(ngModel)]="name" required>
              </div>
              <div class="form-group">
                <input type="number" id="dni" name="dni" class="form-control" placeholder="Ingresa tu DNI"
                  [(ngModel)]="dni" required>
              </div>
              <button type="submit" class="btn btn-primary btn-lg btn-block">COMENZAR</button>

            </form>
          </div>
        </div>
      </div>


    </div>
  </div>

  <div class="d-flex mx-auto">


  </div>










</div>
