<div class="row mt-5 text-center">
    <div class="col-12">
      <div class="row aling-content-center text-center">
        <div class="col-md-12">
          <div class="mt-4">
            <h1>
              Oops!</h1>
            <h2>
              404 Not Found</h2>
            <div class="mt-4">
              Disculpa ! Ocurrio un error y esta pagina no existe !
            </div>
            <div class="mt-4">
              <a routerLink="/" class="btn btn-primary btn-lg">
                 <i class="fas fa-home"></i> Inicio </a>
              <a routerLink="/user/login" class="btn btn-outline-danger btn-lg ml-2">
                <i class="fas fa-key"></i> Login </a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
