<div class="container-fluid mt-5">

<div class="row">
  <div class="col-12">


    <h4></h4>


    <h4 class="display-4 text-danger text-center mx-auto" >Registro de Vecinos No Contactados</h4>

  </div>



</div>

<div class="row">
  <div class="col-12">


      <table class="table table-hover">
          <thead class="thead-dark ">
            <tr>
              <th scope="col">#</th>
              <th scope="col">UGC</th>
              <th scope="col">CALLE</th>
              <th scope="col">ALTURA</th>
              <th scope="col">FECHA</th>
            </tr>
          </thead>
          <tbody>
            <tr>

            </tr>
            </tbody>
            </table>


  </div>

</div>




</div>
